<p style="color: green"><%= notice %></p>

<%= render @disciplines_author %>

<div>
  <%= link_to "Edit this disciplines author", edit_disciplines_author_path(@disciplines_author) %> |
  <%= link_to "Back to disciplines authors", disciplines_authors_path %>

  <%= button_to "Destroy this disciplines author", @disciplines_author, method: :delete %>
</div>
