<p style="color: green"><%= notice %></p>

<%= render @subtopics_topic %>

<div>
  <%= link_to "Edit this subtopics topic", edit_subtopics_topic_path(@subtopics_topic) %> |
  <%= link_to "Back to subtopics topics", subtopics_topics_path %>

  <%= button_to "Destroy this subtopics topic", @subtopics_topic, method: :delete %>
</div>
