<%= form_with(model: subtopic) do |form| %>
  <% if subtopic.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(subtopic.errors.count, "error") %> prohibited this subtopic from being saved:</h2>

      <ul>
        <% subtopic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
