<div id="<%= dom_id current_card %>">
  <p>
    <strong>Quote:</strong>
    <%= current_card.quote %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= current_card.comment %>
  </p>

  <p>
    <strong>Edition:</strong>
    <%= current_card.edition %>
  </p>

  <p>
    <strong>City:</strong>
    <%= current_card.city %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= current_card.year %>
  </p>

  <p>
    <strong>Internet access date:</strong>
    <%= current_card.internet_access_date %>
  </p>

  <p>
    <strong>Internet access link:</strong>
    <%= current_card.internet_access_link %>
  </p>

  <p>
    <strong>User:</strong>
    <%= current_card.user_id %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= current_card.source_id %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= current_card.author_id %>
  </p>

  <p>
    <strong>Subtopic:</strong>
    <%= current_card.subtopic_id %>
  </p>

</div>
