<p style="color: green"><%= notice %></p>

<%= render @topics_author %>

<div>
  <%= link_to "Edit this topics author", edit_topics_author_path(@topics_author) %> |
  <%= link_to "Back to topics authors", topics_authors_path %>

  <%= button_to "Destroy this topics author", @topics_author, method: :delete %>
</div>
