<div id="<%= dom_id card %>">
  <p>
    <strong>Subject:</strong>
    <%= card.subject %>
  </p>

  <p>
    <strong>Quote:</strong>
    <%= card.quote %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= card.comment %>
  </p>

  <p>
    <strong>Edition:</strong>
    <%= card.edition %>
  </p>

  <p>
    <strong>City:</strong>
    <%= card.city %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= card.year %>
  </p>

  <p>
    <strong>Internet access date:</strong>
    <%= card.internet_access_date %>
  </p>

  <p>
    <strong>Internet access link:</strong>
    <%= card.internet_access_link %>
  </p>

</div>
