<%= form_with(model: card) do |form| %>
  <% if card.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :subject, style: "display: block" %>
    <%= form.text_field :subject %>
  </div>

  <div>
    <%= form.label :quote, style: "display: block" %>
    <%= form.text_field :quote %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_field :comment %>
  </div>

  <div>
    <%= form.label :edition, style: "display: block" %>
    <%= form.text_field :edition %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :year, style: "display: block" %>
    <%= form.date_field :year %>
  </div>

  <div>
    <%= form.label :internet_access_date, style: "display: block" %>
    <%= form.date_field :internet_access_date %>
  </div>

  <div>
    <%= form.label :internet_access_link, style: "display: block" %>
    <%= form.text_field :internet_access_link %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
